body {
  font-family: 'Baloo 2', cursive;
}

.card {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.1) !important;
  margin: auto;
  width: 25rem;
  transform: scale(1);
  transition: transform .3s ease;
}

.card:hover {
  box-shadow: 8px 15px 25px 3px rgba(0, 0, 0, 0.2) !important;
  transform: scale(1.1)
}

.card-body {
  padding: 3rem 0 !important
}

.col {
  padding-top: 5rem;
  margin: auto;
}

.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}

.card-title {
  text-align: center
}


.card-img-top {
  padding: 5px;
}