body {
  font-family: 'Baloo 2', cursive;
}

.container {
  padding: 3rem;
  text-align: center;
}

.heading {
  padding-top: 10rem;
  font-size: 80px;
}

.span {
  margin-top: 5rem;
  padding: 2rem;
  font-size: 20px;
}